<div class="board">
  ${FixEverything.fixBoardSize()}
  <div class="boardcol column-0 left-rounded">
    ${this.gameBoard[0]}
  </div>
  <div class="boardcol column-1 padding-board">
    ${this.gameBoard[1]}
  </div>
  <div class="boardcol column-2 padding-board">
    ${this.gameBoard[2]}
  </div>
  <div class="boardcol column-3 padding-board">
    ${this.gameBoard[3]}
  </div>
  <div class="boardcol column-4 padding-board">
    ${this.gameBoard[4]}
  </div>
  <div class="boardcol column-5 padding-board">
    ${this.gameBoard[5]}
  </div>
  <div class="boardcol column-6 right-rounded">
    ${this.gameBoard[6]}
  </div>
</div>
