<div class="board">
  <div class="boardcol pt-1 pb-5 px-1 pt-md-3 px-md-3">
    ${this.gameBoard[0]}
  </div>
  <div class="boardcol pt-1 pb-5 px-1 pt-md-3 px-md-3">
    ${this.gameBoard[1]}
  </div>
  <div class="boardcol pt-1 pb-5 px-1 pt-md-3 px-md-3">
    ${this.gameBoard[2]}
  </div>
  <div class="boardcol pt-1 pb-5 px-1 pt-md-3 px-md-3">
    ${this.gameBoard[3]}
  </div>
  <div class="boardcol pt-1 pb-5 px-1 pt-md-3 px-md-3">
    ${this.gameBoard[4]}
  </div>
  <div class="boardcol pt-1 pb-5 px-1 pt-md-3 px-md-3">
    ${this.gameBoard[5]}
  </div>
  <div class="boardcol pt-1 pb-5 px-1 pt-md-3 px-md-3">
    ${this.gameBoard[6]}
  </div>
</div>
