<div>   
    <div class="form-player1">
        <h3>Player 1</h3>
        <div class="input-group mb-3">
            <input type="text" class="form-control name-player1">
            <span class="invalid" style="color:red;">FEL</span>

            <div class="btn-group ml-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                <input type="radio" name="player1-type" value="human" checked autocomplete="off"> Human
                </label>
                <label class="btn btn-primary">
                <input type="radio" name="player1-type" value="bot" autocomplete="off"> Bot
                </label>
            </div>
        </div>
    </div>

    <div class="form-player2">
        <h3>Player 2</h3>
        <div class="input-group mb-3">
            <input type="text" class="form-control name-player2">
            <span class="invalid" style="color:red;">FEL</span>
            <div class="btn-group ml-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                <input type="radio" name="player2-type" value="human" checked autocomplete="off"> Human
                </label>
                <label class="btn btn-primary">
                <input type="radio" name="player2-type" value="bot" autocomplete="off"> Bot
                </label>
            </div>
        </div>
    </div>
    <button type="button" class="btn-start btn btn-primary btn-lg btn-block mt-4">Start game!</button>
</div>

