<div>
    <h1>Rules</h1>

    <p>
      4 in a row is a classic strategic board game where two players fight for glory.

      The looser has to pay of the winners student loans.
    </p>

    <ul>
      <li>
        Each player gets 21 discs of a color (red or yellow).
      </li>
      <li>
        Players take turn placing a disc on the board.
      </li>
      <li>
        First player to get four bricks of their color in a row (vertical, horizontal or diagonally) wins.
      </li>
      <li>
        The board has 42 slots. If all slots are filled and no one has gotten four in a row the game is a tie.
      </li>
    </ul>

</div>
