<section>
  <h2 class="mb-5">4 in a row is a classic strategic board game where two players fight for glory. The looser has to
    pay of the winners student loans.</h2>
  <h1 class="mb-4">Rules:</h1>

  <ul class="list-group">
    <li class="list-group-item">Each player gets 21 discs of a color (red or yellow).</li>
    <li class="list-group-item">Players take turn placing a disc on the board.</li>
    <li class="list-group-item">First player to get four bricks of their color in a row (vertical, horizontal or
      diagonally) wins.</li>
    <li class="list-group-item">The board has 42 slots. If all slots are filled and no one has gotten four in a row the
      game is a tie.</li>
  </ul>

  <!-- <ul>
      <li>
        Each player gets 21 discs of a color (red or yellow).
      </li>
      <li>
        Players take turn placing a disc on the board.
      </li>
      <li>
        First player to get four bricks of their color in a row (vertical, horizontal or diagonally) wins.
      </li>
      <li>
        The board has 42 slots. If all slots are filled and no one has gotten four in a row the game is a tie.
      </li>
    </ul> -->

</section>