<div>
    <section class="startPageWelcome row d-flex">
        <section class="col-7 startPageFirst">
            <h1 class="display-3 text-center">Välkommen</h1>
            <p class="lead text-center">Spela det klassiska spelet fyra i rad!</p>
            <a class="nav-link" href="/gamepage">
                <button  class="btn btn-primary" style="cursor: crosshair" type="button">Spela!</button>
            </a>
        </section>

        <section class="startPageSecond col-4">
            <div class="startPageSecondImage"></div>
        </section>
    </section>
    <section class="d-flex row pt-2 justify-content-center">
      <h3>Other games from Festisarna</h3>
    </section>
    <section class="otherGames row d-flex">
        <div style="flex: 1;">
          <a href="http://tmp.aetmej.se/js/hungryfrogadventure">
            <img src="hfa.png" alt="Hungry frog adventure play it now" class="otherGamesImg img-fluid">
          </a>
        </div>
        <div style="flex: 1;">
          <a href="http://tmp.aetmej.se/js/hungryfrogadventuretime">
            <img src="hfatfnfi.png" alt="" class="otherGamesImg img-fluid">
          </a>
        </div>

        <!-- <div style="flex: 1;"><img src="https://www.flaticon.com/premium-icon/icons/svg/1030/1030323.svg" alt="" class="img-fluid"></div>
        <div style="flex: 1;"><img src="https://image.flaticon.com/icons/svg/528/528079.svg" alt="" class="img-fluid"></div>
        <div style="flex: 1;"><img src="https://image.flaticon.com/icons/svg/528/528107.svg" alt="" class="img-fluid"></div>
        <div style="flex: 1;"><img src="https://www.flaticon.com/premium-icon/icons/svg/514/514163.svg" alt="" class="img-fluid"></div> -->
    </section>
</div>
