<div>
    <section class="startPageWelcome row d-flex">
        <section class="col-6 startPageFirst">
            <h1>Välkommen</h1>
            <p>Spela det klassiska spelet fyra i rad!</p>
            <button class="btn btn-primary" type="button">Spela!</button>
        </section>
        
        <section class="startPageSecond col-4">
            <p>fin bild</p>
            <img src="https://i.ebayimg.com/images/i/153118637188-0-1/s-l1000.jpg" class="img-fluid">
        </section>
    </section>
    <section class="otherGames row" style="background-color: blueviolet">
    
    </section>
</div>