<div>
    <section class="startPageWelcome row d-flex">
        <section class="col-7 startPageFirst">
            <h1 class="display-3 text-center float-top">Välkommen</h1>
            <p class="lead text-center">Spela det klassiska spelet fyra i rad!</p>
            <button class="btn btn-primary" type="button">Spela!</button>
        </section>
        
        <section class="startPageSecond col-4">
            <div class="startPageSecondImage"></div>
                <!--<img src="https://i.ebayimg.com/images/i/153118637188-0-1/s-l1000.jpg" class="img-thumbnail">-->
          
        </section>
    </section>
    <section class="otherGames row">
        <h1 class="display-1 text-center border">PLACEHOLDER FOR OTHER GAMES</h1>
    </section>
</div>