body > div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.action {
    cursor: pointer;
}

.disabled {
    opacity: 0.2;
    cursor: default;
}

.startPageWelcome {
    border: black 10px;
    height: 50vh;
    justify-content: space-between;
}

.startPageWelcome section {
    border: 2px black solid;
}

.otherGames {
    /* height: 100%; */
    margin-top: 2vh;
}

.startPageFirst {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.startPageFirst a {
    align-self: flex-end;
    width: fit-content;
}

.display-3 {
    font-size: 3.5em;
}

.startPageSecond {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
}

.startPageSecondImage {
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/gameboard.png");

}

.board {
    display: flex;
    flex-direction: row;
    /*align-items: self-start;*/
    /*flex-direction: column;*/
    height: 100%;
}

.board-display {
    flex: 1;
}

.game-page {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
}

.game-main {
    flex: 1;
}

.boardcol {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    background-color: blue;
    padding-top: 2%;
    padding-bottom: 2%;
    animation-name: drop;
    animation-duration: 2s;
}

.boardcol:hover {
    background-color: rgb(123, 123, 255);
}

.slotItem {
    flex: 1;
    display: flex;
    width: 90%;
    margin: 10%;
}

.rounded-circle {
    flex: 1;
    position: relative;
    animation-name: drop;
    animation-duration: 0.5s;
    z-index: 800;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);

}

.board-display {
    height: 100%;
}

.player-display {
    font-size: 1rem;
}

footer {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: blue;
    border-bottom-color: blue;
    background-color: rgb(241, 204, 148)
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.win-page {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 999;
}

.left-rounded {
    padding-top: 10px;
    padding-left: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px
}

.right-rounded {
    padding-top: 10px;
    padding-right: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@keyframes drop {
    0% {
        bottom: 100vh;
    }
    100% {
        bottom: 0;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
        box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
