body > div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.action {
    cursor: pointer;
}

.disabled {
    opacity: 0.2;
    cursor: default;
}

.startPageWelcome {
    border: black 10px;
    height: 50vh;
    justify-content: space-between;
}

.startPageWelcome section {
    border: 2px black solid;
}

.otherGames {
    height: 30vh;
    margin-top: 2vh;
}

.startPageFirst {
    background-color: beige;
}

.startPageSecond {
    background-color: bisque;
}